.chat {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 650px;
    background-color: rgba(246,247,251,.9);
    margin: 0 auto;

    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}