.toolbar {
    display: flex;
    height: 80px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    border-right: 0;
}

.chatId {
    flex-basis: 50%;
    text-align: left;
}

.id {
    font-size: 10px;
}

.usersList {
}

.usersListItem {
    font-size: 10px;
    margin-right: 5px;
}

.usersListItem:last-child {
    margin-right: 0px;
}

.usersOnline {
    flex-basis: 50%;
    text-align: right;
}

.userColor {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 3px;
    border-radius: 50%;
}